{% extends 'base.html' %}

{% block title %}Product Management{% endblock %}

{% block header %}Product Management{% endblock %}

{% block content %}
  <button
    onclick="window.location.href='{% url 'product_create' %}'"
    class="px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700 transition"
  >
    Add New Product
  </button>

  <div class="mt-6 bg-white shadow-md rounded-md overflow-hidden">
    <table class="w-full border-collapse">
      <thead>
        <tr class="bg-gray-200 text-gray-700">
          <th class="py-2 px-4">Name</th>
          <th class="py-2 px-4">Barcode</th>
          <th class="py-2 px-4">Price</th>
          <th class="py-2 px-4">Stock</th>
          <th class="py-2 px-4">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% if products %}
          {% for product in products %}
          <tr class="border-t hover:bg-gray-50">
            <td class="py-2 px-4 text-center">{{ product.name }}</td>
            <td class="py-2 px-4 text-center">{{ product.barcode }}</td>
            <td class="py-2 px-4 text-center">Rp. {{ product.price }}</td>
            <td class="py-2 px-4 text-center">{{ product.stock }}</td>
            <td class="py-2 px-4 text-center flex justify-center gap-4">
              <a
                href="{% url 'product_update' product.id %}"
                class="text-green-600 flex items-center gap-2 hover:text-green-800"
              >
                <i class="ph ph-pencil text-xl"></i> Edit
              </a>

              <button
                onclick="showDeleteModal('{{ product.id }}', '{{ product.name }}')"
                class="text-red-600 flex items-center gap-2 hover:text-red-800"
              >
                <i class="ph ph-trash text-xl"></i> Delete
              </button>
            </td>
          </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td colspan="5" class="py-4 text-center text-gray-500">
              No products available...
            </td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  </div>

  <div
    id="deleteModal"
    class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden"
    onclick="closeModal(event, 'moduleModal')"
    >
    <div class="bg-white p-6 rounded-md shadow-lg w-96 text-center">
      <h2 class="text-xl font-semibold text-gray-700">Confirm Deletion</h2>
      <p class="text-gray-600 mt-2">
        Are you sure you want to delete <span id="deleteProductName" class="font-bold"></span>?
      </p>

      <div class="flex justify-center gap-4 mt-4">
        <button
          onclick="closeModal()"
          class="px-4 py-2 bg-gray-400 text-white rounded-md hover:bg-gray-500 transition"
        >
          Cancel
        </button>
        <a
          id="deleteConfirmButton"
          href="#"
          class="px-4 py-2 bg-red-600 text-white rounded-md hover:bg-red-700 transition"
        >
          Delete
        </a>
      </div>
    </div>
  </div>

{% endblock %}

{% block scripts %}
  <script>
    function showDeleteModal(productId, productName) {
      document.getElementById("deleteProductName").innerText = productName;
      document
        .getElementById("deleteConfirmButton")
        .setAttribute("href", `{% url 'product_delete' 0 %}`.replace("0", productId));
      document.getElementById("deleteModal").classList.remove("hidden");
    }

    function closeModal() {
      document.getElementById("deleteModal").classList.add("hidden");
    }
  </script>
{% endblock %}
